.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background-color: $red;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
        opacity: .8;
        color: #fff;
    }

    &_big {
        width: 261px;
        height: 70px;
    }

    &_small {
        width: 228px;
    }

    &_white {
        color: #303030;
        background: #fff;

        &:hover {
            color: #303030;
        }
    }
}