.choose {
    padding-top: 41px;
    padding-bottom: 211px;

    &__title {
        margin: 0;
        margin-bottom: 146px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__img {
        position: absolute;
        top: 90px;
        left: -60px;
        z-index: -1;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-of-type(2n + 1) {
            margin-right: 50px;
        }

        &:nth-of-type(2n) {
            margin-right: -80px;
        }

        &:not(:last-of-type) {
            margin-bottom: 131px;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__number {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 150px;
        font-weight: 800;
        line-height: .8;
        color: #E0E0E0;
        z-index: -1;
    }

    &__desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
    }

    &__span {
        font-weight: 700;
    }
}