.know {
    padding: 90px 0 33px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    &__title {
        margin-right: 100px;
        margin-bottom: 22px;
    }

    &__desc {
        position: relative;
        max-width: 550px;
        margin: 0;
        font-weight: 400;
        line-height: 27px;
        opacity: .8;

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: -65px;
            width: 55px;
            height: 13px;
            background-image: url("../icons/red-lines.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}